
<div class="explaination">
    <h2>Explaination</h2>
    <p>The grey boxes respond to mouse clicks, Clicking once will set it to "1", clicking again set it to "0". (You can just fill in the "1"s and use the "Blanks to 0's" button)</p>
    <p>The questions will get harder as you go. When you have praciticed enough online please click the "Finish Exercise" button, and print out the work sheet to do on paper. And hand that in asap.</p>
    <p>Remember to work from the right, adding one column at a time (and marking the carry row of the next column to the left if you need to)</p>
    
</div>
<div class="quizholder">
    <h2>Question <span id="questionnumber" >1</span></h2>
    <table class="sumbinary" id="questionholder" >
        <tr class="sumline1 sumcolumns" ><th>&nbsp;</th><td>&nbsp;</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><th>&nbsp;</th></tr>
        <tr class="sumline2" ><th>+</th><td>&nbsp;</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><th>&nbsp;</th></tr>
        <tr class="sumresult binaryinput"><th>=</th><td>&nbsp;</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><th><button class="sumzerofill">Blanks to 0's</button></th></tr>
        <tr class="sumcarry binarycarryinput" ><th>Carry</th><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td class="invalid">&nbsp;</td><th>&nbsp;</th></tr>
    </table>
    <label for="sumexplain">Explain any overflow</label> <input type="text" class="sumexplain" length="100" size="40"/><br />
    <button class="sumcheck">Check Answer</button>
    <button class="sumzerofill" id="sumzerofill2">Blanks to 0's</button>
    <button class="sumnextquestion">Next Question</button>
    <button class="sumhint">Get a Hint</button>
    <button class="sumskip">Skip Question</button>
    <button class="sumend">Finish Exercise</button>
    <div class="sumfeedback">&nbsp;</div>
    <table>
        <tr>
            <th>Current Score</th><td class="sumscore">&nbsp;</td>
        
            <th>Exam Marks</th><td class="summarks">&nbsp;</td>
        </tr>
    </table>
</div>

<div id="dump">
</div>
